$white: #ffffff;
$blue: #61d2ff;
$salat: #5ead54;
$rose: #d8339b;
$fontcolor: #727272;
html {
    box-sizing: border-box;
}
*, *:after, *:before {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
@import "menu.scss";
@import "link.scss";
@import "slide.scss";

.admin-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}
.title {
    text-align: center;
    color: $fontcolor;
    font-size: 35px;
    letter-spacing: 7px;
    word-spacing: 10px;
}
.grid {
    width: 100%;
    display: flex;
    justify-content: center;
}
.admin-list{
    flex-wrap: wrap;
}
.admin-list .admin-card{
    flex-wrap: wrap;
    margin-bottom: 10pc;
}
.admin-card .admin-pic, .admin-card .admin-info{
    flex-basis: 50%;
}
.admin-card .admin-pic img{
    width: 80%;
    box-shadow: 5px 0px 25px 3px $fontcolor;
}
.admin-card .admin-info h3{
    color: rgb(57, 68,108);
    font-size: 36px;
    font-weight: normal;
    margin-bottom: 5px;
}
.admin-card .admin-info ul li{
    color: #000;
    font-size: 28px;
    line-height: 1.5;
    list-style: none;
}
.admin-card .admin-info ul li.tel{
    margin-top: 40px;
}

@media(max-width: 1180px){
    .admin-list .admin-card{
        margin-bottom: 8pc;
    }
    .admin-card .admin-info h3{
        font-size: 32px;
    }
    .admin-card .admin-info ul li{
        font-size: 24px;
    }
}

@media (max-width: 768px){
    .admin-list .admin-card{
        margin-bottom: 5pc;
    }
    .admin-card .admin-pic{
        width: 100%;
    }
    .admin-card .admin-info h3{
        font-size: 22px;
    }
    .admin-card .admin-info ul li{
        font-size: 16px;
    }
}

@media (max-width: 480px){
    .admin-card .admin-pic, .admin-card .admin-info{
        flex-basis: 100%;
        text-align: center;
    }
    .admin-card .admin-pic{
        margin-bottom: 1pc;
    }
    .admin-card .admin-info ul li.tel{
        margin-top: 10px;
    }
}

@media (max-width: 375px){
    .admin-card .admin-info h3{
        font-size: 18px;
    }
    .admin-card .admin-info ul li{
        font-size: 14px;
    }
}

@media (max-width: 320px){
    .admin-list .admin-card{
        margin-bottom: 3px;
    }
}
